<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
 
    </tr>
  </thead>
  <tbody>
    <li>
      Welcome to the Inventory Page. This page is here to help you add items to your inventory. It'll have a form that adds your stuff to an array that you'll pick from within the Trip page.
    </li>
    <form id="new-item-form" action="/items" method="POST">
      <label>Name:</label>
      <input type="text" name="name">
      <label>Weight:</label>
      <input type="number" name="weight">
      <label>Category:</label>
      <select name="category">
        <option value="Tool">Tool</option>
        <option value="Consumable">Consumable</option>
        <option value="Clothing">Clothing</option>
        <option value="Morale">Morale</option>
      </select>
      <label>In Posession:</label>
      <input type="checkbox" name="In Posession" checked>
      <input type="submit" value="Add Item">
    </form>
    <form action="/authors/<%= eachAuthor._id %>?_method=DELETE" method="POST" style="display:inline;">
      <input type="submit" value="DELETE">
  </form>
    

    </tbody>
  </table>
  cd
  <table>
    <thead>

      <th>Name</th>
      <th>category</th>
      <th>weight</th>
    </thead>
      <tbody>

        <% items.forEach(function(i) { %>
          <td><%= i.name %> </td>
          <td><%= i.category %> </td>
          <td><%= i.weight %> </td>
          
        </tbody>

      
      <%  }); %>
    </table>


