
<%- include('../partials/header') %>

  
  <body>
    <h2>Your Trips</h2>
    <a href="/trips/new">Add New Trip</a>
    <a href="/trips/show">View Trips</a>

    <table>
      <thead>
        <th>Location</th>
        <th>Date</th>
        <th>Items</th>
      </thead>
      <tbody>
        <% trips.forEach(function(i) { %>
        <td><a href="/trips/<%= i._id %>"> <%= i.location %> </a></td>
        <td><%= i.date %></td>
      </tbody>
      <% }); %>
    </table>

    
    <%- include('../partials/footer'); %>