<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <h2><%= trip.location %></h2>
      <h4><%= trip.date %></h4>
    </tr>
  </thead>
  <body>
    <table>
      <thead>
        <th>Name</th>
        <th>Category</th>
        <th>weight</th>
      </thead>
      <tbody>
        <% trip.items.forEach(function(i) { %>
        <td><%= i.name %></td>
        <td><%= i.category %></td>
        <td><%= i.weight %></td>
        <% }); %>
      </tbody>
    </table>
    <table>
      <thead>
        <th>Name</th>
        <th>Category</th>
        <th>weight</th>
      </thead>
      <tbody>
        <% inventory.forEach(function(i) { %>
        <td><%= i.name %></td>
        <td><%= i.category %></td>
        <td><%= i.weight %></td>
        <% }); %>
      </tbody>
    </table>
  </body>
</table>
