<%- include('../partials/header') %>

<section>
  
  <table class="tripTableHead">
    <thead>
      <tr>
        <td><%= trip.location %></td>
      </tr>
    </thead>
    
    <table>
      <% trip.items.forEach(function(i) { %>
      <tr>
          <td><%= i.name %></td>
          <td><%= i.category %></td>
          <td>
            <a href="/trips/<%= trip._id %>/items/<%= i._id %>/remove">Remove</a>
          </td>
        </tr>
        <% }); %>
      </table>
    </table>
    
    <table>
      <thead>
        <tr>
          <th>Items you can add</th>
          <th>to your trip</th>
        </tr>
      </thead>
      
      <tbody>  
        <% inventory.forEach(function(i) { %>
        <tr>
            <td><%= i.name %></td>
            <td><%= i.category %></td>
            <td>
              <a href="/trips/<%= trip._id %>/items/<%= i._id %>">Add</a>
            </td>
          </tr>
            <% }); %>
        </tbody>
      </table>
      
    </table>
  </section>
  
  <%- include('../partials/footer'); %>