<%- include('../partials/header') %>
<body>
<table id="list">
  <thead>
    <tr>
      <h2><%= trip.location %></h2>
      <h4><%= trip.date %></h4>
    </tr>
  </thead>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Category</td>
          <td>weight</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% trip.items.forEach(function(i) { %>
            <td><%= i.name %></td>
            <td><%= i.category %></td>
            <td><%= i.weight %></td>
            <% }); %>
          </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>  
          <td>Name</td>
          <td>Category</td>
          <td>weight</td>
        </tr>
      </thead>

      <tbody>
        <tr>

          <% inventory.forEach(function(i) { %>
            <td><%= i.name %></td>
            <td><%= i.category %></td>
            <td><%= i.weight %></td>
            <td><a href="/trips/<%= trip._id %>/items/<%= i._id %>">Add Item to Trip</a></td>
            <% }); %>
          </tr>
      </tbody>
    </table>
  </body>
</table>

<h4>Trip Items</h4>
<ul>
  <% trip.items.forEach(function(i) { %>
    <li><%= i.name %></li>
  <% }) %>
</ul>

<%- include('../partials/footer'); %>