<%- include('../partials/header') %>

<section>
  
  <table class="tripTableHead">
    <thead>
      <tr>
        <td><%= trip.location %></td>
      </tr>
    </thead>
    
      <!-- <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th></th>
          </tr>
        </thead>
      </table>
    -->
    <table>
      <tr>
        <% trip.items.forEach(function(i) { %>
          <td><%= i.name %></td>
          <td><%= i.category %></td>
          <td>
            <a href="/trips/<%= trip._id %>/items/<%= i._id %>/remove">Remove</a>
          </td>
        </tr>
        <% }); %>
      </table>
    </table>
    
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
        </tr>
      </thead>
      
      <tbody>
        
        <tr>
          <% inventory.forEach(function(i) { %>
            <td><%= i.name %></td>
            <td><%= i.category %></td>
            <td>
              <a href="/trips/<%= trip._id %>/items/<%= i._id %>">Add</a>
            </td>
            
            <% }); %>
          </tr>
        </tbody>
      </table>
      
      <%- include('../partials/footer'); %>
    </table>
  </section>
  